
@charset "utf-8";


/* CSS Document */

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs .feedTitle
{
font-size: 16px;
 font-weight: bold;
}

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs .headline 
{
font-size: 13px;
 font-weight: bold;
}

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs li
{
margin-top: 20px;
}

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs div
{
margin-left: 20px;
}