#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs .feedTitle
{
font-size: 13px;
font-family:Georgia, "Times New Roman", Times, serif;
 font-weight: bold;
    margin-left: 10px;
line-height: 14px;
}

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs .headline 
{
font-size: 11px;
line-height: 12px;

}

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs li
{
margin-top: 5px;
margin-left: 15px;
}

#JBiolChemMost-readFull-textArticlesigjijke3dkat7ujm3249eo48fs div
{
margin-left: 5px;
}

#most_read_widget
{

color: #403838;
background: #c0c0c0;
width: 169px;
margin: 5px 10px 5px 10px;
padding-left: 10px;
border: 2px solid #A9A9A9; 
}

